@import url('https://fonts.googleapis.com/css?family=Heebo'); 
  body {
    color: #c9c9c9;
    min-height: 100vh;
    background: #1a1a1a; }

    h1, h2, h3, h4, h5, h6 {
      color: #ffffff; }

      :not(pre) > code {
        background-color: #272727;
        color: #dcdcdc; }

        pre {
          padding: 0.75rem;
          background-color: #1e1e1e;
          color: #dcdcdc; }

          .container {
            padding: 0.75rem; }

            header {
              text-align: center; }
              header > div {
                display: inline-block; }
                header > div img {
                  width: 100%; }
                  header > div h1 {
                    font-family: 'Heebo', sans-serif;
                    font-weight: 700; }
                    @media (max-width: 575px) {
                      header > div h1 {
                        font-size: 2rem;
                        letter-spacing: 0.1rem;   }
}
                      @media (min-width: 576px) {
                        header > div h1 {
                          font-size: 3rem;
                          letter-spacing: 0.2rem;   }
}

  .contact .fa {
    font-size: 2rem;
    margin: 0 0.375rem; }
    .contact a, .contact a:hover, .contact a:visited {
      color: #bfbfbf;
      text-decoration: none; }
      .contact a:hover {
        color: #e70000; }
