<div class="contact">
    <a href="https://twitter.com/NZSmartie"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">My Twitter</span></a>
    <a href="https://github.com/NZSmartie"><i class="fa fa-github" aria-hidden="true"></i><span class="sr-only">My Github</span></a>
    <a href="https://keybase.io/nzsmartie"><i class="fa fa-keybase" aria-hidden="true"></i><span class="sr-only">My Keybase</span></a>
    <a href="https://hackaday.io/NZSmartie"><i class="fa fa-hackaday" aria-hidden="true"></i><span class="sr-only">My Hack A Day I O Profile</span></a>
</div>