{% extends "base.html" %}

{%block header %}
<header class="container">
  <div>
    <img src="/assets/images/emblem.svg" />
    <h1>Roman Vaughan</h1>
    <div class="contact">
        <a href="https://twitter.com/NZSmartie"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
        <a href="https://github.com/NZSmartie"><i class="fa fa-github" aria-hidden="true"></i><span class="sr-only">Github</span></a>
        <a href="https://keybase.io/nzsmartie"><i class="fa fa-key" aria-hidden="true"></i><span class="sr-only">Keybase</span></a>
    </div>
  </div>
</header>
{% endblock %}
  
{% block body %}
  <p>These are my latest posts</p>
  <ul>
    {% for post in posts %}
      <li><a href="{% url "post", post %}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}