@import 'common';

@import url('https://fonts.googleapis.com/css?family=Heebo');


body{
    color: $text-color;
    min-height: 100vh;
    background: $brand-dark-background;
}

h1, h2, h3, h4, h5, h6{
    color: $brand-dark-secondary;
}

:not(pre) > code{
    background-color: #272727;
    color: #dcdcdc;
}

pre{
    padding: $default-padding;
    background-color: #1e1e1e;
    color: #dcdcdc;
}

a, a:hover, a:visited{
    color: $brand-dark-link
}

hr{
    border-top-color: $brand-dark-background-alt;
}

.container{
    padding: $default-padding;
}

header{
    text-align: center;
    > div {
        display: inline-block;
        img{
            width: 100%;
        }
        h1{
            font-family: 'Heebo', sans-serif;
            font-weight: 700;

            @media (max-width: 575px) { 
                font-size: 2rem; 
                letter-spacing: 0.1rem;
            }

            @media (min-width: 576px) { 
                font-size: 3rem; 
                letter-spacing: 0.2rem;
            }
        }
    }
}

.contact{
    .fa{
        font-size: 2rem;
        margin: 0 $default-padding/2;
    }
    a, a:hover, a:visited{
        color: $brand-dark-secondary-alt;
        text-decoration: none;
    }
    a:hover{
        color: $brand-dark-primary
    }
}

footer{
    color: $brand-dark-secondary-alt;
    position: relative;
    > p {
        @media (max-width: 767px)  { 
            margin-top: 1rem;
        }

        @media (min-width: 768px) { 
            position: absolute;
            right: 0;
            top:0;
        }
    }
}

.content{
    .toclink, .toclink:hover, .toclink:active{
        color: $brand-dark-secondary;
        text-decoration: none;
    }
    .toclink:hover::after{
        color: $brand-dark-link;
        content: "\f0c1";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 1.4rem;
        margin-left: 1rem;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}