@import 'common';

@import url('https://fonts.googleapis.com/css?family=Heebo');


body{
    color: $text-color;
    min-height: 100vh;
    background: $brand-dark-background;
}

h1, h2, h3, h4, h5, h6{
    color: $brand-dark-secondary;
}

:not(pre) > code{
    background-color: #272727;
    color: #dcdcdc;
}

pre{
    padding: $default-padding;
    background-color: #1e1e1e;
    color: #dcdcdc;
}

.container{
    padding: $default-padding;
}

.header{
    text-align: center;
    > div {
        display: inline-block;
        img{
            width: 100%;
        }
        h1{
            @media (max-width: 575px) { font-size: 2.4rem; }

            @media (min-width: 576px) { font-size: 3.8rem; }
        }
    }
}